.popup__label {
  position: relative;
  display: block;
  block-size: 1px;
  /* min-block-size: 100px; */
  /* margin-block-end: 10px; */
  /* min-block-size: 65px; */
}

/* .popup__label:last-of-type {
  block-size: 50px;
}
 */
